actdiag
alembic>=0.6.4
blockdiag
docutils==0.11
nwdiag
oslo.config
oslo.db
oslosphinx
pbr>=0.6,<1.0
seqdiag
sphinx
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
SQLAlchemy>=0.7.8,<=0.9.99
graphviz
